<div class="row">
    <div class="col-lg-4 mb-4 text-center d-flex flex-column justify-content-center">
        <img *ngIf="demoImages.contentImage" [src]="demoImages.contentImage" class="rounded img-fluid"
            alt="demo content image">
    </div>

    <div class="col-lg-1 mb-4 text-center d-flex flex-column justify-content-center">
        <i class="fas fa-plus"></i>
    </div>

    <div class="col-lg-2 mb-4 text-center d-flex flex-column justify-content-center">
        <img *ngIf="demoImages.styleImage" [src]="demoImages.styleImage" class="rounded img-fluid"
            alt="demo style image">
    </div>

    <div class="col-lg-1 mb-4 text-center d-flex flex-column justify-content-center">
        <i class="fas fa-equals"></i>
    </div>

    <div class="col-lg-4 mb-4 text-center d-flex flex-column justify-content-center">
        <img *ngIf="demoImages.resultImage" [src]="demoImages.resultImage" class="rounded img-fluid"
            alt="demo result image">
    </div>
</div>
