<div class="historical-style-generator m-0">
  <div class="jumbotron text-center mb-0 bg bg-light">
    <div class="container">
      <h1 class="jumbotron-heading">Hstyle</h1>
      <p class="lead text-muted pl-5 pr-5">
        We are very happy you are trying Hstyle, lets start!
      </p>
    </div>
  </div>

  <div [hidden]="!isUploadContent" class="jumbotron text-center bg bg-white">
    <div class="container">
      <p class="lead text-muted pl-5 pr-5">First lets upload the content image!</p>
      <app-single-image-uploader (imageContent)="setContentImage($event)"></app-single-image-uploader>
      <p><button class="btn btn-outline-dark mt-4" (click)="goToStyleImageUpload()">Upload content image</button></p>
      <div *ngIf="contentImageError" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ contentImageError }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <ngb-carousel *ngIf="images">
        <ng-template *ngFor="let image of images;" ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" class="img-fluid" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>10 seconds between slides...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div [hidden]="!isUploadStyle" class="jumbotron text-center bg bg-white">
    <div class="container">
      <p class="lead text-muted pl-5 pr-5">Now lets upload the style image!</p>
      <app-single-image-uploader (imageContent)="setStyleImage($event)"></app-single-image-uploader>
      <p>
        <button class="btn btn-outline-dark mt-4 mr-4" (click)="goToContentImageUpload()">Change content image</button>
        <button class="btn btn-outline-dark mt-4" (click)="goToSelectModelParameters()">Upload style image</button>
      </p>
      <div *ngIf="styleImageError" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ styleImageError }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div [hidden]="!isModelParams" class="jumbotron text-center bg bg-white">
    <div class="container">
      <p class="lead text-muted pl-5 pr-5">Final step select model parameters!</p>
      <p>
        <button class="btn btn-outline-dark mt-4 mr-4" (click)="goToStyleImageUpload()">Change style image</button>
        <button class="btn btn-outline-dark mt-4" (click)="generateImage()">Generate Historical document</button>
      </p>
    </div>
  </div>
</div>
