*.pyc
*.pyo
*.pyd
.Python
.tox
.coverage
.coverage.*
.cache
.git
.gitignore
.pylintrc
*,cover
*.log
nosetests.xml
coverage.xml
pytest.ini
__pycache__
env
pip-log.txt
pip-delete-this-directory.txt
tests