<div class="historical-style-generator m-0">
    <div class="jumbotron text-center bg-light">
        <div class="container">
            <p class="lead bold text-muted font-weight-bold pl-5 pr-5 mb-5">Fill the following fields to generate a
                synthetic
                image</p>
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-12">
                    <form [formGroup]="inputs">
                        <!-- email input -->
                        <div class="form-group row">
                            <label for="email" class="col-sm-6 col-form-label">Email address <small
                                    class="form-text text-muted">(Only for sending you the result)</small></label>
                            <div class="col-sm-4">
                                <input [class.is-invalid]="inputs.get('email').invalid && inputs.get('email').touched"
                                    formControlName="email" type="email" class="form-control" id="email"
                                    placeholder="Enter email">
                                <div
                                    *ngIf="inputs.get('email').invalid && inputs.get('email').touched || inputs.get('email').dirty">
                                    <small *ngIf="inputs.get('email').errors?.required" class="text-danger">Primary
                                        email is required</small>
                                    <small *ngIf="inputs.get('email').errors?.pattern" class="text-danger">Please
                                        provide a valid email address</small>
                                </div>
                            </div>
                        </div>
                        <!-- style loss input -->
                        <div class="form-group row">
                            <label for="styleLoss" class="col-sm-6 col-form-label">Style Loss</label>
                            <div class="col-sm-4">
                                <input
                                    [class.is-invalid]="inputs.get('styleLoss').invalid && inputs.get('styleLoss').touched"
                                    formControlName="styleLoss" type="number" class="form-control" id="styleLoss"
                                    placeholder="Style Loss" readonly>
                                <div
                                    *ngIf="inputs.get('styleLoss').invalid && inputs.get('styleLoss').touched || inputs.get('styleLoss').dirty">
                                    <small *ngIf="inputs.get('styleLoss').errors?.required"
                                        class="text-danger">Content Loss is required</small>
                                    <small
                                        *ngIf="inputs.get('styleLoss').errors?.min || inputs.get('styleLoss').errors?.max"
                                        class="text-danger">content Loss must be between 0.01-0.01</small>
                                </div>
                            </div>
                        </div>
                        <!-- content loss input -->
                        <div class="form-group row">
                            <label for="contentLoss" class="col-sm-6 col-form-label">Content Loss</label>
                            <div class="col-sm-4">
                                <input
                                    [class.is-invalid]="inputs.get('contentLoss').invalid && inputs.get('contentLoss').touched"
                                    formControlName="contentLoss" type="number" class="form-control" id="contentLoss"
                                    placeholder="Content Loss">
                                <div
                                    *ngIf="inputs.get('contentLoss').invalid && inputs.get('contentLoss').touched || inputs.get('contentLoss').dirty">
                                    <small *ngIf="inputs.get('contentLoss').errors?.required"
                                        class="text-danger">Content Loss is required</small>
                                    <small
                                        *ngIf="inputs.get('contentLoss').errors?.min || inputs.get('contentLoss').errors?.max"
                                        class="text-danger">content Loss must be between 10-100000</small>
                                </div>
                            </div>
                        </div>
                        <!-- total variation loss input -->
                        <div class="form-group row">
                            <label for="totalVariationLoss" class="col-sm-6 col-form-label">Total Variation Loss</label>
                            <div class="col-sm-4">
                                <input
                                    [class.is-invalid]="inputs.get('totalVariationLoss').invalid && inputs.get('totalVariationLoss').touched"
                                    formControlName="totalVariationLoss" type="number" class="form-control" id="totalVariationLoss"
                                    placeholder="Total Variation Loss" readonly>
                                <div
                                    *ngIf="inputs.get('totalVariationLoss').invalid && inputs.get('totalVariationLoss').touched || inputs.get('totalVariationLoss').dirty">
                                    <small *ngIf="inputs.get('totalVariationLoss').errors?.required"
                                        class="text-danger">Content Loss is required</small>
                                    <small
                                        *ngIf="inputs.get('totalVariationLoss').errors?.min || inputs.get('totalVariationLoss').errors?.max"
                                        class="text-danger">content Loss must be between 30-30</small>
                                </div>
                            </div>
                        </div>
                        <!-- dilation input -->
                        <div class="form-group row">
                            <label for="applyDilation" class="col-sm-6 col-form-label">Add dilation?</label>
                            <div class="col-sm-4">
                                <button *ngIf="addDilation" type="button" class="btn btn-block btn-dark"
                                    (click)="toggleDilation()" id="applyDilation">Yes</button>
                                <button *ngIf="!addDilation" type="button" class="btn btn-block btn-outline-dark"
                                    (click)="toggleDilation()" id="applyDilation">No</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Text for content image input -->
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-12">
                    <p class="lead text-muted pl-5 pr-5 mt-5 mb-0">Drop content image or leave empty for default image
                    </p>
                </div>
                <div class="col-12">
                    <p class="lead text-muted pl-5 pr-5 mt-0 text-small">(For optimal results content image must be text
                        with
                        white background)</p>
                </div>
            </div>

            <!-- content image input -->
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-lg-7">
                    <app-single-image-uploader *ngIf="enableImageUploader" (imageContent)="setContentImage($event)" dropZoneText="Drop Image" >
                    </app-single-image-uploader>
                </div>
            </div>

            <!-- Text for style image input -->
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-12">
                    <p class="lead text-muted pl-5 pr-5 mt-5 mb-0">Drop style image or leave empty for default image</p>
                </div>
                <div class="col-12">
                    <p class="lead text-muted pl-5 pr-5 mt-0 text-small">(An Historical document image)</p>
                </div>
            </div>

            <!-- Style image input -->
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-lg-7">
                    <app-single-image-uploader *ngIf="enableImageUploader" (imageContent)="setStyleImage($event)" dropZoneText="Drop Image">
                    </app-single-image-uploader>
                </div>
            </div>

            <!-- Generate image button -->
            <button type="button" class="btn btn-dark pl-5 pr-5 mt-5" (click)="generateImage()">Generate Image</button>

            <!-- Message to check email box-->
            <div class="row d-flex flex-row justify-content-center mt-3">
                <div class="col-lg-7">
                    <ngb-alert (closed)="generateImageMessage = ''" *ngIf="generateImageMessage" type="success">{{generateImageMessage}}</ngb-alert>
                </div>
            </div>
        </div>
    </div>
</div>
