<div class=about>
  <!-- Explanation on HStyle -->
  <div class="jumbotron text-center mt-1 mb-5 bg-light border-primary">
    <div class="container">
      <h1 class="jumbotron-heading">Hstyle</h1>
      <p class="lead text-muted text-left pl-5 pr-5">
        Hstyle a deep learning & computer vision product. Hstyle lets users synthesize a historical document. What does this mean? Given two documents,
        one is a historical document (the style), and the other is a modern document (the content), Hstyle will transfer the style from the
        historical document to the modern document.
      </p>
      <p class="lead text-muted text-left pl-5 pr-5">
        Historical documents can reveal a lot of information, such as form of writing, wording, content that did not exist and more. Since those documents are
        usually written in diaries, pages or letters that have a final lifespan, there are certain periods that lack historical documents.
        The lack of data restricts us from using the power of deep learning and machine learning models, because most of these models require a large amount of data (big data),
        this is the problem Hstyle solves.
      </p>
      <p><a class="btn btn-outline-dark mt-4" routerLink="/get-started">Try it yourself!</a></p>
    </div>
  </div>

  <!-- Present creators -->
  <div class="container text-center mb-5">
    <h2>The Team </h2>
    <p class="text-muted mb-4">Behind every great product there is a great team and we have one of the best</p>
    <app-team-members></app-team-members>
  </div>
</div>


