<div class="row">
  <div class="col-lg-3 mb-4 text-center d-flex flex-column justify-content-center">
    <img src="assets/hstyle_demo/content.webp" class="rounded img-fluid" alt="demo content image">
  </div>

  <div class="col-lg-1 mb-4 text-center d-flex flex-column justify-content-center">
    <i class="fas fa-plus"></i>
  </div>

  <div class="col-lg-3 mb-4 text-center d-flex flex-column justify-content-center">
    <img src="assets/hstyle_demo/style.webp" class="rounded img-fluid" alt="demo style image">
  </div>

  <div class="col-lg-1 mb-4 text-center d-flex flex-column justify-content-center">
    <i class="fas fa-equals"></i>
  </div>

  <div class="col-lg-4 mb-4 text-center d-flex flex-column justify-content-center">
    <img src="assets/hstyle_demo/result.webp" class="rounded img-fluid" alt="demo result image">
  </div>
</div>


